
img {
    width: 64px;
    height: 64px;
    image-rendering: crisp-edges;
}

canvas, #outputContainer img {
    image-rendering: crisp-edges;
    height: 200px !important;
    width: auto;
    align-self: center;
    margin-bottom: 20px !important;
}

main {
    padding-top: 2rem !important;
    padding-bottom: 0 !important;
}

article {
    height: 450px;
    min-height: fit-content;
    padding-top: 2rem !important;
    margin-top: 1rem !important;
}

section {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#outputContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    display: flex !important;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.container {
    padding-top: 20px !important;
}

nav, ul, li {
    height: 100px;
}

h1 {
    margin: 0 !important;
}

#outputContainer div {
    display: flex;
    justify-content: center;
    margin: 0;
}