
img {
    width: 64px;
    height: 64px;
    image-rendering: crisp-edges;
}

canvas {
    image-rendering: crisp-edges;
    height: 200px !important;
    width: 200px !important;
    align-self: center;
}

main {
    padding-top: 2rem !important;
    padding-bottom: 0 !important;
}

article {
    height: 400px;
    min-height: fit-content;
    padding-top: 2rem !important;
    margin-top: 1rem !important;
}

section {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#outputContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
